* text=auto !eol
/TargetedMS-API.iml -text
/TargetedMS.iml -text
api-src/org/labkey/api/targetedms/ITargetedMSRun.java -text
api-src/org/labkey/api/targetedms/TargetedMSService.java -text
/module.properties -text
resources/queries/targetedms/GuideSetStats.sql -text
resources/queries/targetedms/guideset/.qview.xml -text
resources/queries/targetedms/librarydocprecursor/AllPrecursors.qview.xml -text
resources/queries/targetedms/libraryprecursor/FolderPrecursors.qview.xml -text
resources/queries/targetedms/libraryprecursor/LibraryPrecursors.qview.xml -text
resources/queries/targetedms/peptide/FolderPeptides.qview.xml -text
resources/queries/targetedms/peptide/LibraryPeptides.qview.xml -text
resources/queries/targetedms/peptidegroup/FolderProteins.qview.xml -text
resources/queries/targetedms/peptidegroup/LibraryProteins.qview.xml -text
resources/queries/targetedms/qcannotation/.qview.xml -text
resources/queries/targetedms/qcannotationtype/.qview.xml -text
resources/schemas/dbscripts/postgresql/obsolete/targetedms-0.00-12.20.sql -text
resources/schemas/dbscripts/postgresql/obsolete/targetedms-0.00-12.30.sql -text
resources/schemas/dbscripts/postgresql/obsolete/targetedms-0.00-13.10.sql -text
resources/schemas/dbscripts/postgresql/obsolete/targetedms-0.00-13.20.sql -text
resources/schemas/dbscripts/postgresql/obsolete/targetedms-12.30-13.10.sql -text
resources/schemas/dbscripts/postgresql/obsolete/targetedms-13.10-13.20.sql -text
resources/schemas/dbscripts/postgresql/obsolete/targetedms-13.20-13.30.sql -text
resources/schemas/dbscripts/postgresql/obsolete/targetedms-14.10-14.11.sql -text
resources/schemas/dbscripts/postgresql/obsolete/targetedms-14.11-14.12.sql -text
resources/schemas/dbscripts/postgresql/obsolete/targetedms-14.12-14.13.sql -text
resources/schemas/dbscripts/postgresql/obsolete/targetedms-14.13-14.14.sql -text
resources/schemas/dbscripts/postgresql/obsolete/targetedms-14.14-14.15.sql -text
resources/schemas/dbscripts/postgresql/obsolete/targetedms-14.15-14.16.sql -text
resources/schemas/dbscripts/postgresql/obsolete/targetedms-14.20-14.21.sql -text
resources/schemas/dbscripts/postgresql/obsolete/targetedms-14.21-14.22.sql -text
resources/schemas/dbscripts/postgresql/obsolete/targetedms-14.22-14.23.sql -text
resources/schemas/dbscripts/postgresql/obsolete/targetedms-14.23-14.24.sql -text
resources/schemas/dbscripts/postgresql/obsolete/targetedms-14.24-14.25.sql -text
resources/schemas/dbscripts/postgresql/obsolete/targetedms-14.30-14.31.sql -text
resources/schemas/dbscripts/postgresql/obsolete/targetedms-14.32-14.33.sql -text
resources/schemas/dbscripts/postgresql/obsolete/targetedms-14.33-14.34.sql -text
resources/schemas/dbscripts/postgresql/obsolete/targetedms-14.34-14.35.sql -text
resources/schemas/dbscripts/postgresql/obsolete/targetedms-14.35-14.36.sql -text
resources/schemas/dbscripts/postgresql/obsolete/targetedms-14.36-14.37.sql -text
resources/schemas/dbscripts/postgresql/obsolete/targetedms-15.10-15.11.sql -text
resources/schemas/dbscripts/postgresql/targetedms-0.00-13.30.sql -text
resources/schemas/dbscripts/postgresql/targetedms-13.30-14.10.sql -text
resources/schemas/dbscripts/postgresql/targetedms-14.10-14.20.sql -text
resources/schemas/dbscripts/postgresql/targetedms-14.20-14.30.sql -text
resources/schemas/dbscripts/postgresql/targetedms-14.30-15.10.sql -text
resources/schemas/dbscripts/postgresql/targetedms-15.10-15.20.sql -text
resources/schemas/dbscripts/postgresql/targetedms-15.20-15.21.sql -text
resources/schemas/dbscripts/postgresql/targetedms-15.20-15.30.sql -text
resources/schemas/dbscripts/sqlserver/obsolete/targetedms-0.00-12.20.sql -text
resources/schemas/dbscripts/sqlserver/obsolete/targetedms-0.00-12.30.sql -text
resources/schemas/dbscripts/sqlserver/obsolete/targetedms-0.00-13.10.sql -text
resources/schemas/dbscripts/sqlserver/obsolete/targetedms-0.00-13.20.sql -text
resources/schemas/dbscripts/sqlserver/obsolete/targetedms-12.30-13.10.sql -text
resources/schemas/dbscripts/sqlserver/obsolete/targetedms-13.10-13.20.sql -text
resources/schemas/dbscripts/sqlserver/obsolete/targetedms-13.20-13.30.sql -text
resources/schemas/dbscripts/sqlserver/obsolete/targetedms-14.10-14.11.sql -text
resources/schemas/dbscripts/sqlserver/obsolete/targetedms-14.11-14.12.sql -text
resources/schemas/dbscripts/sqlserver/obsolete/targetedms-14.12-14.13.sql -text
resources/schemas/dbscripts/sqlserver/obsolete/targetedms-14.13-14.14.sql -text
resources/schemas/dbscripts/sqlserver/obsolete/targetedms-14.14-14.15.sql -text
resources/schemas/dbscripts/sqlserver/obsolete/targetedms-14.15-14.16.sql -text
resources/schemas/dbscripts/sqlserver/obsolete/targetedms-14.20-14.21.sql -text
resources/schemas/dbscripts/sqlserver/obsolete/targetedms-14.21-14.22.sql -text
resources/schemas/dbscripts/sqlserver/obsolete/targetedms-14.22-14.23.sql -text
resources/schemas/dbscripts/sqlserver/obsolete/targetedms-14.23-14.24.sql -text
resources/schemas/dbscripts/sqlserver/obsolete/targetedms-14.24-14.25.sql -text
resources/schemas/dbscripts/sqlserver/obsolete/targetedms-14.30-14.31.sql -text
resources/schemas/dbscripts/sqlserver/obsolete/targetedms-14.31-14.32.sql -text
resources/schemas/dbscripts/sqlserver/obsolete/targetedms-14.32-14.33.sql -text
resources/schemas/dbscripts/sqlserver/obsolete/targetedms-14.33-14.34.sql -text
resources/schemas/dbscripts/sqlserver/obsolete/targetedms-14.34-14.35.sql -text
resources/schemas/dbscripts/sqlserver/obsolete/targetedms-14.35-14.36.sql -text
resources/schemas/dbscripts/sqlserver/obsolete/targetedms-14.36-14.37.sql -text
resources/schemas/dbscripts/sqlserver/obsolete/targetedms-15.10-15.11.sql -text
resources/schemas/dbscripts/sqlserver/obsolete/targetedms-15.11-15.12.sql -text
resources/schemas/dbscripts/sqlserver/targetedms-0.00-13.30.sql -text
resources/schemas/dbscripts/sqlserver/targetedms-13.30-14.10.sql -text
resources/schemas/dbscripts/sqlserver/targetedms-14.10-14.20.sql -text
resources/schemas/dbscripts/sqlserver/targetedms-14.20-14.30.sql -text
resources/schemas/dbscripts/sqlserver/targetedms-14.30-15.10.sql -text
resources/schemas/dbscripts/sqlserver/targetedms-15.10-15.20.sql -text
resources/schemas/dbscripts/sqlserver/targetedms-15.20-15.21.sql -text
resources/schemas/dbscripts/sqlserver/targetedms-15.20-15.30.sql -text
resources/schemas/targetedms.xml -text
src/org/labkey/targetedms/IrtPeptide.java -text
src/org/labkey/targetedms/PublishTargetedMSExperimentsController.java -text
src/org/labkey/targetedms/SkylineBinaryDataHandler.java -text
src/org/labkey/targetedms/SkylineDocImporter.java -text
src/org/labkey/targetedms/SkylineFileUtils.java -text
src/org/labkey/targetedms/SkylinePort/Irt/IRegressionFunction.java -text
src/org/labkey/targetedms/SkylinePort/Irt/IRetentionScoreCalculator.java -text
src/org/labkey/targetedms/SkylinePort/Irt/IRetentionTimeProvider.java -text
src/org/labkey/targetedms/SkylinePort/Irt/IncompleteStandardException.java -text
src/org/labkey/targetedms/SkylinePort/Irt/IrtRegressionCalculator.java -text
src/org/labkey/targetedms/SkylinePort/Irt/MeasuredRetentionTime.java -text
src/org/labkey/targetedms/SkylinePort/Irt/README.txt -text
src/org/labkey/targetedms/SkylinePort/Irt/RefObject.java -text
src/org/labkey/targetedms/SkylinePort/Irt/RegressionLine.java -text
src/org/labkey/targetedms/SkylinePort/Irt/RegressionLineElement.java -text
src/org/labkey/targetedms/SkylinePort/Irt/RetentionScoreCalculator.java -text
src/org/labkey/targetedms/SkylinePort/Irt/RetentionScoreCalculatorSpec.java -text
src/org/labkey/targetedms/SkylinePort/Irt/RetentionTimeProviderImpl.java -text
src/org/labkey/targetedms/SkylinePort/Irt/RetentionTimeRegression.java -text
src/org/labkey/targetedms/SkylinePort/Irt/RetentionTimeScoreCache.java -text
src/org/labkey/targetedms/SkylinePort/Irt/RetentionTimeStatistics.java -text
src/org/labkey/targetedms/SkylinePort/Irt/Statistics.java -text
src/org/labkey/targetedms/TargetedMSController.java -text
src/org/labkey/targetedms/TargetedMSDataHandler.java -text
src/org/labkey/targetedms/TargetedMSExperimentRunType.java -text
src/org/labkey/targetedms/TargetedMSFolderType.java -text
src/org/labkey/targetedms/TargetedMSListener.java -text
src/org/labkey/targetedms/TargetedMSManager.java -text
src/org/labkey/targetedms/TargetedMSModule.java -text
src/org/labkey/targetedms/TargetedMSRun.java -text
src/org/labkey/targetedms/TargetedMSSchema.java -text
src/org/labkey/targetedms/TargetedMSServiceImpl.java -text
src/org/labkey/targetedms/TargetedMSUpgradeCode.java -text
src/org/labkey/targetedms/TargetedMsRepresentativeStateAuditProvider.java -text
src/org/labkey/targetedms/TargetedMsRepresentativeStateAuditViewFactory.java -text
src/org/labkey/targetedms/chart/ChartColors.java -text
src/org/labkey/targetedms/chart/ChromatogramChartMaker.java -text
src/org/labkey/targetedms/chart/ChromatogramChartMakerFactory.java -text
src/org/labkey/targetedms/chart/ChromatogramDataset.java -text
src/org/labkey/targetedms/chart/ComparisonAxis.java -text
src/org/labkey/targetedms/chart/ComparisonCategory.java -text
src/org/labkey/targetedms/chart/ComparisonChartInputMaker.java -text
src/org/labkey/targetedms/chart/ComparisonChartMaker.java -text
src/org/labkey/targetedms/chart/ComparisonDataset.java -text
src/org/labkey/targetedms/chart/LabelFactory.java -text
src/org/labkey/targetedms/chart/MultiLineXYPointerAnnotation.java -text
src/org/labkey/targetedms/chart/PrecursorColorIndexer.java -text
src/org/labkey/targetedms/chart/ReplicateLabelMinimizer.java -text
src/org/labkey/targetedms/chart/RetentionTimeBoxAndWhiskerRenderer.java -text
src/org/labkey/targetedms/chromlib/BaseDaoImpl.java -text
src/org/labkey/targetedms/chromlib/ChromLibSqliteSchemaCreator.java -text
src/org/labkey/targetedms/chromlib/ChromatogramLibraryReader.java -text
src/org/labkey/targetedms/chromlib/ChromatogramLibraryUtils.java -text
src/org/labkey/targetedms/chromlib/ChromatogramLibraryWriter.java -text
src/org/labkey/targetedms/chromlib/ConnectionSource.java -text
src/org/labkey/targetedms/chromlib/Constants.java -text
src/org/labkey/targetedms/chromlib/ContainerChromatogramLibraryWriter.java -text
src/org/labkey/targetedms/chromlib/Dao.java -text
src/org/labkey/targetedms/chromlib/LibInfo.java -text
src/org/labkey/targetedms/chromlib/LibInfoDao.java -text
src/org/labkey/targetedms/chromlib/LibIrtLibrary.java -text
src/org/labkey/targetedms/chromlib/LibIrtLibraryDao.java -text
src/org/labkey/targetedms/chromlib/LibIsotopeModification.java -text
src/org/labkey/targetedms/chromlib/LibIsotopeModificationDao.java -text
src/org/labkey/targetedms/chromlib/LibPeptide.java -text
src/org/labkey/targetedms/chromlib/LibPeptideDao.java -text
src/org/labkey/targetedms/chromlib/LibPeptideStructuralModDao.java -text
src/org/labkey/targetedms/chromlib/LibPeptideStructuralModification.java -text
src/org/labkey/targetedms/chromlib/LibPrecursor.java -text
src/org/labkey/targetedms/chromlib/LibPrecursorDao.java -text
src/org/labkey/targetedms/chromlib/LibPrecursorIsotopeModification.java -text
src/org/labkey/targetedms/chromlib/LibPrecursorIsotopeModificationDao.java -text
src/org/labkey/targetedms/chromlib/LibPrecursorRetentionTime.java -text
src/org/labkey/targetedms/chromlib/LibPrecursorRetentionTimeDao.java -text
src/org/labkey/targetedms/chromlib/LibProtein.java -text
src/org/labkey/targetedms/chromlib/LibProteinDao.java -text
src/org/labkey/targetedms/chromlib/LibSampleFile.java -text
src/org/labkey/targetedms/chromlib/LibSampleFileDao.java -text
src/org/labkey/targetedms/chromlib/LibStructuralModLoss.java -text
src/org/labkey/targetedms/chromlib/LibStructuralModLossDao.java -text
src/org/labkey/targetedms/chromlib/LibStructuralModification.java -text
src/org/labkey/targetedms/chromlib/LibStructuralModificationDao.java -text
src/org/labkey/targetedms/chromlib/LibTransition.java -text
src/org/labkey/targetedms/chromlib/LibTransitionDao.java -text
src/org/labkey/targetedms/chromlib/ObjectWithId.java -text
src/org/labkey/targetedms/conflict/ConflictPeptide.java -text
src/org/labkey/targetedms/conflict/ConflictPrecursor.java -text
src/org/labkey/targetedms/conflict/ConflictProtein.java -text
src/org/labkey/targetedms/conflict/ConflictTransition.java -text
src/org/labkey/targetedms/model/ExperimentAnnotations.java -text
src/org/labkey/targetedms/model/GuideSet.java -text
src/org/labkey/targetedms/model/Journal.java -text
src/org/labkey/targetedms/model/JournalExperiment.java -text
src/org/labkey/targetedms/model/PrecursorChromInfoLitePlus.java -text
src/org/labkey/targetedms/model/PrecursorChromInfoPlus.java -text
src/org/labkey/targetedms/model/PrecursorComparator.java -text
src/org/labkey/targetedms/parser/AbstractAnnotation.java -text
src/org/labkey/targetedms/parser/AnnotatedEntity.java -text
src/org/labkey/targetedms/parser/AnnotationSetting.java -text
src/org/labkey/targetedms/parser/AreaRatio.java -text
src/org/labkey/targetedms/parser/ChromInfo.java -text
src/org/labkey/targetedms/parser/Chromatogram.java -text
src/org/labkey/targetedms/parser/ChromatogramTran.java -text
src/org/labkey/targetedms/parser/DataSettings.java -text
src/org/labkey/targetedms/parser/Instrument.java -text
src/org/labkey/targetedms/parser/Molecule.java -text
src/org/labkey/targetedms/parser/MoleculeTransition.java -text
src/org/labkey/targetedms/parser/PeakAreaRatioCalculator.java -text
src/org/labkey/targetedms/parser/Peptide.java -text
src/org/labkey/targetedms/parser/PeptideAnnotation.java -text
src/org/labkey/targetedms/parser/PeptideAreaRatio.java -text
src/org/labkey/targetedms/parser/PeptideChromInfo.java -text
src/org/labkey/targetedms/parser/PeptideGroup.java -text
src/org/labkey/targetedms/parser/PeptideGroupAnnotation.java -text
src/org/labkey/targetedms/parser/PeptideSettings.java -text
src/org/labkey/targetedms/parser/PeptideSettingsParser.java -text
src/org/labkey/targetedms/parser/Precursor.java -text
src/org/labkey/targetedms/parser/PrecursorAnnotation.java -text
src/org/labkey/targetedms/parser/PrecursorAreaRatio.java -text
src/org/labkey/targetedms/parser/PrecursorChromInfo.java -text
src/org/labkey/targetedms/parser/PrecursorChromInfoAnnotation.java -text
src/org/labkey/targetedms/parser/Replicate.java -text
src/org/labkey/targetedms/parser/ReplicateAnnotation.java -text
src/org/labkey/targetedms/parser/RepresentativeDataState.java -text
src/org/labkey/targetedms/parser/SampleFile.java -text
src/org/labkey/targetedms/parser/SkylineBinaryParser.java -text
src/org/labkey/targetedms/parser/SkylineDocumentParser.java -text
src/org/labkey/targetedms/parser/SkylineEntity.java -text
src/org/labkey/targetedms/parser/Transition.java -text
src/org/labkey/targetedms/parser/TransitionAnnotation.java -text
src/org/labkey/targetedms/parser/TransitionAreaRatio.java -text
src/org/labkey/targetedms/parser/TransitionChromInfo.java -text
src/org/labkey/targetedms/parser/TransitionChromInfoAnnotation.java -text
src/org/labkey/targetedms/parser/TransitionLoss.java -text
src/org/labkey/targetedms/parser/TransitionOptimization.java -text
src/org/labkey/targetedms/parser/TransitionSettings.java -text
src/org/labkey/targetedms/parser/XmlUtil.java -text
src/org/labkey/targetedms/parser/blib/BlibSpectrum.java -text
src/org/labkey/targetedms/parser/blib/BlibSpectrumReader.java -text
src/org/labkey/targetedms/pipeline/CopyExperimentFinalTask.java -text
src/org/labkey/targetedms/pipeline/CopyExperimentJobSupport.java -text
src/org/labkey/targetedms/pipeline/CopyExperimentPipelineJob.java -text
src/org/labkey/targetedms/pipeline/CopyExperimentPipelineProvider.java -text
src/org/labkey/targetedms/pipeline/ExperimentExportTask.java -text
src/org/labkey/targetedms/pipeline/ExperimentImportTask.java -text
src/org/labkey/targetedms/pipeline/TargetedMSImportPipelineJob.java -text
src/org/labkey/targetedms/pipeline/TargetedMSPipelineProvider.java -text
src/org/labkey/targetedms/query/AnnotatedTargetedMSTable.java -text
src/org/labkey/targetedms/query/ChromatogramDisplayColumnFactory.java -text
src/org/labkey/targetedms/query/ChromatogramGridQuerySettings.java -text
src/org/labkey/targetedms/query/ConflictResultsManager.java -text
src/org/labkey/targetedms/query/DocTransitionsTableInfo.java -text
src/org/labkey/targetedms/query/ExperimentAnnotationsManager.java -text
src/org/labkey/targetedms/query/ExperimentAnnotationsTableInfo.java -text
src/org/labkey/targetedms/query/GuideSetTable.java -text
src/org/labkey/targetedms/query/InstrumentManager.java -text
src/org/labkey/targetedms/query/IsotopeLabelManager.java -text
src/org/labkey/targetedms/query/JournalExperimentTableInfo.java -text
src/org/labkey/targetedms/query/JournalManager.java -text
src/org/labkey/targetedms/query/LibraryManager.java -text
src/org/labkey/targetedms/query/ModificationManager.java -text
src/org/labkey/targetedms/query/ModifiedSequenceDisplayColumn.java -text
src/org/labkey/targetedms/query/PeptideChromatogramsTableInfo.java -text
src/org/labkey/targetedms/query/PeptideGroupManager.java -text
src/org/labkey/targetedms/query/PeptideManager.java -text
src/org/labkey/targetedms/query/PeptidePrecursorChromatogramsTableInfo.java -text
src/org/labkey/targetedms/query/PrecursorChromInfoTable.java -text
src/org/labkey/targetedms/query/PrecursorChromatogramsTableInfo.java -text
src/org/labkey/targetedms/query/PrecursorManager.java -text
src/org/labkey/targetedms/query/PrecursorTableInfo.java -text
src/org/labkey/targetedms/query/QCAnnotationTable.java -text
src/org/labkey/targetedms/query/QCAnnotationTypeTable.java -text
src/org/labkey/targetedms/query/ReplicateManager.java -text
src/org/labkey/targetedms/query/RepresentativeStateDisplayColumn.java -text
src/org/labkey/targetedms/query/RepresentativeStateManager.java -text
src/org/labkey/targetedms/query/SampleFileTable.java -text
src/org/labkey/targetedms/query/TargetedMSTable.java -text
src/org/labkey/targetedms/query/TransitionManager.java -text
src/org/labkey/targetedms/search/ModificationSearchBean.java -text
src/org/labkey/targetedms/search/ModificationSearchWebPart.java -text
src/org/labkey/targetedms/search/modificationSearch.jsp -text
src/org/labkey/targetedms/security/CopyTargetedMSExperimentRole.java -text
src/org/labkey/targetedms/view/AnnotationUIDisplayColumn.java -text
src/org/labkey/targetedms/view/ChromatogramsDataRegion.java -text
src/org/labkey/targetedms/view/DocumentPrecursorsView.java -text
src/org/labkey/targetedms/view/DocumentTransitionsView.java -text
src/org/labkey/targetedms/view/IconFactory.java -text
src/org/labkey/targetedms/view/LibraryPrecursorViewWebPart.java -text
src/org/labkey/targetedms/view/ModifiedPeptideHtmlMaker.java -text
src/org/labkey/targetedms/view/PeptideGroupViewWebPart.java -text
src/org/labkey/targetedms/view/PeptidePrecursorChromatogramsView.java -text
src/org/labkey/targetedms/view/PeptideViewWebPart.java -text
src/org/labkey/targetedms/view/PrecursorHtmlMaker.java -text
src/org/labkey/targetedms/view/TargetedMSRunsWebPartView.java -text
src/org/labkey/targetedms/view/TargetedMsRunListView.java -text
src/org/labkey/targetedms/view/TransitionPeptideSearchViewProvider.java -text
src/org/labkey/targetedms/view/TransitionProteinSearchViewProvider.java -text
src/org/labkey/targetedms/view/archivedRevisionsDownload.jsp -text
src/org/labkey/targetedms/view/chromatogramLibraryDownload.jsp -text
src/org/labkey/targetedms/view/chromatogramsForm.jsp -text
src/org/labkey/targetedms/view/confirmImport.jsp -text
src/org/labkey/targetedms/view/conflictSummary.jsp -text
src/org/labkey/targetedms/view/expannotations/ExperimentAnnotationsFormDataRegion.java -text
src/org/labkey/targetedms/view/expannotations/TargetedMSExperimentWebPart.java -text
src/org/labkey/targetedms/view/expannotations/TargetedMSExperimentsWebPart.java -text
src/org/labkey/targetedms/view/expannotations/deleteExperimentAnnotations.jsp -text
src/org/labkey/targetedms/view/expannotations/experimentDetails.jsp -text
src/org/labkey/targetedms/view/folderSetup.jsp -text
src/org/labkey/targetedms/view/leveyJenningsReport.jsp -text
src/org/labkey/targetedms/view/paretoPlot.jsp -text
src/org/labkey/targetedms/view/peptideSummaryView.jsp -text
src/org/labkey/targetedms/view/precursorChromatogramsView.jsp -text
src/org/labkey/targetedms/view/precursorConflictResolutionView.jsp -text
src/org/labkey/targetedms/view/proteinConflictResolutionView.jsp -text
src/org/labkey/targetedms/view/proteinSearch.jsp -text
src/org/labkey/targetedms/view/publish/ShortUrlDisplayColumnFactory.java -text
src/org/labkey/targetedms/view/publish/copyExperimentForm.jsp -text
src/org/labkey/targetedms/view/publish/createJournalGroup.jsp -text
src/org/labkey/targetedms/view/publish/deleteJournal.jsp -text
src/org/labkey/targetedms/view/publish/publishExperimentForm.jsp -text
src/org/labkey/targetedms/view/qcSummary.jsp -text
src/org/labkey/targetedms/view/renameRun.jsp -text
src/org/labkey/targetedms/view/runMethodChain.jsp -text
src/org/labkey/targetedms/view/runSummaryView.jsp -text
src/org/labkey/targetedms/view/spectrum/LibrarySpectrumMatch.java -text
src/org/labkey/targetedms/view/spectrum/LibrarySpectrumMatchGetter.java -text
src/org/labkey/targetedms/view/spectrum/PeptideSpectrumView.java -text
src/org/labkey/targetedms/view/spectrum/spectrumView.jsp -text
src/org/labkey/targetedms/view/summaryChartsView.jsp -text
test/src/org/labkey/test/components/targetedms/GuideSet.java -text
test/src/org/labkey/test/components/targetedms/GuideSetStats.java -text
test/src/org/labkey/test/components/targetedms/GuideSetWebPart.java -text
test/src/org/labkey/test/components/targetedms/LinkVersionsGrid.java -text
test/src/org/labkey/test/components/targetedms/ParetoPlotsWebPart.java -text
test/src/org/labkey/test/components/targetedms/QCAnnotationTypeWebPart.java -text
test/src/org/labkey/test/components/targetedms/QCAnnotationWebPart.java -text
test/src/org/labkey/test/components/targetedms/QCPlot.java -text
test/src/org/labkey/test/components/targetedms/QCPlotsWebPart.java -text
test/src/org/labkey/test/components/targetedms/QCSummaryWebPart.java -text
test/src/org/labkey/test/components/targetedms/TargetedMSRunsTable.java -text
test/src/org/labkey/test/pages/targetedms/AnnotationInsertPage.java -text
test/src/org/labkey/test/pages/targetedms/AnnotationTypeInsertPage.java -text
test/src/org/labkey/test/pages/targetedms/GuideSetPage.java -text
test/src/org/labkey/test/pages/targetedms/PanoramaAnnotations.java -text
test/src/org/labkey/test/pages/targetedms/PanoramaDashboard.java -text
test/src/org/labkey/test/pages/targetedms/ParetoPlotPage.java -text
test/src/org/labkey/test/tests/GetDataAPITest.java -text
test/src/org/labkey/test/tests/TargetedMSExperimentIrtTest.java -text
test/src/org/labkey/test/tests/TargetedMSExperimentTest.java -text
test/src/org/labkey/test/tests/TargetedMSLibraryIrtTest.java -text
test/src/org/labkey/test/tests/TargetedMSLibraryTest.java -text
test/src/org/labkey/test/tests/TargetedMSLinkVersionsTest.java -text
test/src/org/labkey/test/tests/TargetedMSQCGuideSetTest.java -text
test/src/org/labkey/test/tests/TargetedMSQCTest.java -text
test/src/org/labkey/test/tests/TargetedMSTest.java -text
test/src/org/labkey/test/util/targetedms/QCHelper.java -text
test/test_targetedms.iml -text
webapp/TargetedMS/css/LeveyJenningsReport.css -text
webapp/TargetedMS/css/LinkVersionsDialog.css -text
webapp/TargetedMS/css/ParetoPlot.css -text
webapp/TargetedMS/css/dropDown.css -text
webapp/TargetedMS/images/ChromatogramLibraryScreenshot.png -text
webapp/TargetedMS/images/Fragment.gif -text
webapp/TargetedMS/images/Peptide.gif -text
webapp/TargetedMS/images/PeptideLib.gif -text
webapp/TargetedMS/images/TransitionGroup.gif -text
webapp/TargetedMS/images/TransitionGroupLib.gif -text
webapp/TargetedMS/images/blank.gif -text
webapp/TargetedMS/images/spectrum.gif -text
webapp/TargetedMS/jquery/jquery-1.8.3.min.js -text
webapp/TargetedMS/js/BaseQCPlotPanel.js -text
webapp/TargetedMS/js/LeveyJenningsTrendPlotPanel.js -text
webapp/TargetedMS/js/LinkVersionsDialog.js -text
webapp/TargetedMS/js/ParetoPlotPanel.js -text
webapp/TargetedMS/js/dropDownUtil.js -text
webapp/TargetedMS/lorikeet_0.3/css/lorikeet.css -text
webapp/TargetedMS/lorikeet_0.3/images/lorikeet/header_lorikeet.png -text
webapp/TargetedMS/lorikeet_0.3/images/lorikeet/header_scan.png -text
webapp/TargetedMS/lorikeet_0.3/images/lorikeet/header_text.png -text
webapp/TargetedMS/lorikeet_0.3/images/lorikeet/lorikeet_text_small.png -text
webapp/TargetedMS/lorikeet_0.3/images/lorikeet/slider_handle.png -text
webapp/TargetedMS/lorikeet_0.3/images/lorikeet/zoom_in.png -text
webapp/TargetedMS/lorikeet_0.3/images/lorikeet/zoom_out.png -text
webapp/TargetedMS/lorikeet_0.3/js/aminoacid.js -text
webapp/TargetedMS/lorikeet_0.3/js/excanvas.min.js -text
webapp/TargetedMS/lorikeet_0.3/js/ion.js -text
webapp/TargetedMS/lorikeet_0.3/js/jquery.flot.js -text
webapp/TargetedMS/lorikeet_0.3/js/jquery.flot.selection.js -text
webapp/TargetedMS/lorikeet_0.3/js/peptide.js -text
webapp/TargetedMS/lorikeet_0.3/js/specview.js -text
webapp/TargetedMS/unimod/unimod_NO_NAMESPACE.xml -text
webapp/TargetedMS/unimod/unimod_ORIG.xml -text
webapp/TargetedMS/unimod/unimod_PARSED.xml -text
webapp/WEB-INF/targetedms/targetedmsContext.xml -text
