* text=auto !eol
/TargetedMS.iml -text
lib/sqlitejdbc-v056.jar -text
/module.properties -text
resources/schemas/dbscripts/postgresql/obsolete/targetedms-0.00-0.01.sql -text
resources/schemas/dbscripts/postgresql/targetedms-0.00-12.20.sql -text
resources/schemas/dbscripts/postgresql/targetedms-0.11-0.12.sql -text
resources/schemas/dbscripts/postgresql/targetedms-0.12-0.13.sql -text
resources/schemas/dbscripts/postgresql/targetedms-0.13-0.14.sql -text
resources/schemas/dbscripts/postgresql/targetedms-0.14-0.15.sql -text
resources/schemas/dbscripts/postgresql/targetedms-0.15-0.16.sql -text
resources/schemas/dbscripts/postgresql/targetedms-0.16-0.17.sql -text
resources/schemas/dbscripts/postgresql/targetedms-0.17-0.18.sql -text
resources/schemas/dbscripts/postgresql/targetedms-0.18-0.19.sql -text
resources/schemas/dbscripts/postgresql/targetedms-0.20-0.21.sql -text
resources/schemas/dbscripts/postgresql/targetedms-0.21-0.22.sql -text
resources/schemas/dbscripts/postgresql/targetedms-0.22-0.23.sql -text
resources/schemas/dbscripts/postgresql/targetedms-12.20-12.21.sql -text
resources/schemas/dbscripts/postgresql/targetedms-12.21-12.22.sql -text
resources/schemas/dbscripts/postgresql/targetedms-12.22-12.23.sql -text
resources/schemas/dbscripts/postgresql/targetedms-12.23-12.24.sql -text
resources/schemas/dbscripts/postgresql/targetedms-12.24-12.25.sql -text
resources/schemas/dbscripts/sqlserver/obsolete/targetedms-0.00-0.01.sql -text
resources/schemas/dbscripts/sqlserver/targetedms-0.00-12.20.sql -text
resources/schemas/dbscripts/sqlserver/targetedms-0.19-0.20.sql -text
resources/schemas/dbscripts/sqlserver/targetedms-0.20-0.21.sql -text
resources/schemas/dbscripts/sqlserver/targetedms-0.21-0.22.sql -text
resources/schemas/dbscripts/sqlserver/targetedms-0.22-0.23.sql -text
resources/schemas/dbscripts/sqlserver/targetedms-12.20-12.21.sql -text
resources/schemas/dbscripts/sqlserver/targetedms-12.21-12.22.sql -text
resources/schemas/dbscripts/sqlserver/targetedms-12.22-12.23.sql -text
resources/schemas/dbscripts/sqlserver/targetedms-12.23-12.24.sql -text
resources/schemas/dbscripts/sqlserver/targetedms-12.24-12.25.sql -text
resources/schemas/targetedms.xml -text
src/org/labkey/targetedms/SkylineBinaryDataHandler.java -text
src/org/labkey/targetedms/SkylineDocImporter.java -text
src/org/labkey/targetedms/TargetedMSContainerListener.java -text
src/org/labkey/targetedms/TargetedMSController.java -text
src/org/labkey/targetedms/TargetedMSDataHandler.java -text
src/org/labkey/targetedms/TargetedMSExperimentRunType.java -text
src/org/labkey/targetedms/TargetedMSFolderType.java -text
src/org/labkey/targetedms/TargetedMSManager.java -text
src/org/labkey/targetedms/TargetedMSModule.java -text
src/org/labkey/targetedms/TargetedMSRun.java -text
src/org/labkey/targetedms/TargetedMSSchema.java -text
src/org/labkey/targetedms/chart/ChartColors.java -text
src/org/labkey/targetedms/chart/ChromatogramChartMaker.java -text
src/org/labkey/targetedms/chart/ChromatogramChartMakerFactory.java -text
src/org/labkey/targetedms/chart/LabelFactory.java -text
src/org/labkey/targetedms/chart/PeakAreasChartInputMaker.java -text
src/org/labkey/targetedms/chart/PrecursorPeakAreaChartMaker.java -text
src/org/labkey/targetedms/model/PrecursorChromInfoPlus.java -text
src/org/labkey/targetedms/parser/AbstractAnnotation.java -text
src/org/labkey/targetedms/parser/AnnotatedEntity.java -text
src/org/labkey/targetedms/parser/AreaRatio.java -text
src/org/labkey/targetedms/parser/ChromInfo.java -text
src/org/labkey/targetedms/parser/Chromatogram.java -text
src/org/labkey/targetedms/parser/Instrument.java -text
src/org/labkey/targetedms/parser/Peptide.java -text
src/org/labkey/targetedms/parser/PeptideAnnotation.java -text
src/org/labkey/targetedms/parser/PeptideAreaRatio.java -text
src/org/labkey/targetedms/parser/PeptideChromInfo.java -text
src/org/labkey/targetedms/parser/PeptideGroup.java -text
src/org/labkey/targetedms/parser/PeptideGroupAnnotation.java -text
src/org/labkey/targetedms/parser/PeptideSettings.java -text
src/org/labkey/targetedms/parser/PeptideSettingsParser.java -text
src/org/labkey/targetedms/parser/Precursor.java -text
src/org/labkey/targetedms/parser/PrecursorAnnotation.java -text
src/org/labkey/targetedms/parser/PrecursorAreaRatio.java -text
src/org/labkey/targetedms/parser/PrecursorChromInfo.java -text
src/org/labkey/targetedms/parser/PrecursorChromInfoAnnotation.java -text
src/org/labkey/targetedms/parser/Replicate.java -text
src/org/labkey/targetedms/parser/ReplicateAnnotation.java -text
src/org/labkey/targetedms/parser/SampleFile.java -text
src/org/labkey/targetedms/parser/SkylineBinaryParser.java -text
src/org/labkey/targetedms/parser/SkylineDocumentParser.java -text
src/org/labkey/targetedms/parser/SkylineEntity.java -text
src/org/labkey/targetedms/parser/Transition.java -text
src/org/labkey/targetedms/parser/TransitionAnnotation.java -text
src/org/labkey/targetedms/parser/TransitionAreaRatio.java -text
src/org/labkey/targetedms/parser/TransitionChromInfo.java -text
src/org/labkey/targetedms/parser/TransitionChromInfoAnnotation.java -text
src/org/labkey/targetedms/parser/TransitionLoss.java -text
src/org/labkey/targetedms/parser/TransitionOptimization.java -text
src/org/labkey/targetedms/parser/TransitionSettings.java -text
src/org/labkey/targetedms/parser/XmlUtil.java -text
src/org/labkey/targetedms/parser/blib/BlibSpectrum.java -text
src/org/labkey/targetedms/parser/blib/BlibSpectrumReader.java -text
src/org/labkey/targetedms/pipeline/TargetedMSImportPipelineJob.java -text
src/org/labkey/targetedms/pipeline/TargetedMSPipelineProvider.java -text
src/org/labkey/targetedms/query/AnnotatedTargetedMSTable.java -text
src/org/labkey/targetedms/query/ChromatogramDisplayColumnFactory.java -text
src/org/labkey/targetedms/query/ChromatogramGridQuerySettings.java -text
src/org/labkey/targetedms/query/DocPrecursorTableInfo.java -text
src/org/labkey/targetedms/query/DocTransitionsTableInfo.java -text
src/org/labkey/targetedms/query/IsotopeLabelManager.java -text
src/org/labkey/targetedms/query/LibraryManager.java -text
src/org/labkey/targetedms/query/ModificationManager.java -text
src/org/labkey/targetedms/query/ModifiedPeptideDisplayColumn.java -text
src/org/labkey/targetedms/query/PeptideChromatogramsTableInfo.java -text
src/org/labkey/targetedms/query/PeptideGroupManager.java -text
src/org/labkey/targetedms/query/PeptideManager.java -text
src/org/labkey/targetedms/query/PeptidePrecursorChromatogramsTableInfo.java -text
src/org/labkey/targetedms/query/PrecursorChromatogramsTableInfo.java -text
src/org/labkey/targetedms/query/PrecursorManager.java -text
src/org/labkey/targetedms/query/ReplicateManager.java -text
src/org/labkey/targetedms/query/TargetedMSTable.java -text
src/org/labkey/targetedms/query/TransitionManager.java -text
src/org/labkey/targetedms/view/ChromatogramsDataRegion.java -text
src/org/labkey/targetedms/view/DocumentPrecursorsView.java -text
src/org/labkey/targetedms/view/DocumentTransitionsView.java -text
src/org/labkey/targetedms/view/ModifiedPeptideHtmlMaker.java -text
src/org/labkey/targetedms/view/PeptidePrecursorChromatogramsView.java -text
src/org/labkey/targetedms/view/PrecursorHtmlMaker.java -text
src/org/labkey/targetedms/view/TransitionPeptideSearchViewProvider.java -text
src/org/labkey/targetedms/view/TransitionProteinSearchViewProvider.java -text
src/org/labkey/targetedms/view/chromatogramsForm.jsp -text
src/org/labkey/targetedms/view/confirmImport.jsp -text
src/org/labkey/targetedms/view/peptidePeakAreaView.jsp -text
src/org/labkey/targetedms/view/peptideSummaryView.jsp -text
src/org/labkey/targetedms/view/precursorChromatogramsView.jsp -text
src/org/labkey/targetedms/view/proteinSearch.jsp -text
src/org/labkey/targetedms/view/runSummaryView.jsp -text
src/org/labkey/targetedms/view/spectrum/LibrarySpectrumMatch.java -text
src/org/labkey/targetedms/view/spectrum/LibrarySpectrumMatchGetter.java -text
src/org/labkey/targetedms/view/spectrum/PeptideSpectrumView.java -text
src/org/labkey/targetedms/view/spectrum/spectrumView.jsp -text
webapp/TargetedMS/images/Fragment.gif -text
webapp/TargetedMS/images/TransitionGroup.gif -text
webapp/TargetedMS/lorikeet_0.3/css/lorikeet.css -text
webapp/TargetedMS/lorikeet_0.3/images/lorikeet/header_lorikeet.png -text
webapp/TargetedMS/lorikeet_0.3/images/lorikeet/header_scan.png -text
webapp/TargetedMS/lorikeet_0.3/images/lorikeet/header_text.png -text
webapp/TargetedMS/lorikeet_0.3/images/lorikeet/lorikeet_text_small.png -text
webapp/TargetedMS/lorikeet_0.3/images/lorikeet/slider_handle.png -text
webapp/TargetedMS/lorikeet_0.3/images/lorikeet/zoom_in.png -text
webapp/TargetedMS/lorikeet_0.3/images/lorikeet/zoom_out.png -text
webapp/TargetedMS/lorikeet_0.3/js/aminoacid.js -text
webapp/TargetedMS/lorikeet_0.3/js/excanvas.min.js -text
webapp/TargetedMS/lorikeet_0.3/js/ion.js -text
webapp/TargetedMS/lorikeet_0.3/js/jquery.flot.js -text
webapp/TargetedMS/lorikeet_0.3/js/jquery.flot.selection.js -text
webapp/TargetedMS/lorikeet_0.3/js/peptide.js -text
webapp/TargetedMS/lorikeet_0.3/js/specview.js -text
