
.fom-table tr {
    line-height: 25px;
    min-height: 25px;
    height: 25px;
}

.targetedms-fom hr {
    height: 5px;
    color: black;
    border-top: 1px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
}

.targetedms-fom .export-icon {
    opacity: 0.4;
    font-size: 24px;
    color: #707070;
    padding-top: 10px;
    position: absolute;
    right: 100px;
}
.targetedms-fom:hover .export-icon {
    display: block;
}
.targetedms-fom .export-icon:hover {
    opacity: 1;
    cursor: pointer;
}

.fom-table{
    border: 1px solid lightgray !important;
}

.fom-table thead{
    border-bottom: 3px solid lightgray;
}

.fom-table td.fom-number{
    text-align: right;
    white-space:nowrap;
    border: 1px solid lightgray !important;
}

.fom-table td.shaded{
    background-color: #f9f9f9;
    border-top: 1px solid lightgray !important;
    border-bottom: 1px solid lightgray;
}

.fom-table td.left{
    border-left: 1px solid lightgray;
}

.fom-table td.right{
    border-right: 1px solid lightgray;
}

.fom-table td.fom-label{
    white-space:nowrap;
    width: 10%;
}