
.fom-table tr {
    line-height: 25px;
    min-height: 25px;
    height: 25px;
}

.targetedms-fom hr {
    height: 5px;
    color: black;
    border-top: 1px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
}

.targetedms-fom:hover .export-icon {
    cursor: pointer;
}

.fom-table{
    border: 1px solid lightgray !important;
}

.fom-table thead{
    border-bottom: 3px solid lightgray;
}

.fom-table td.fom-number{
    text-align: right;
    white-space:nowrap;
    border: 1px solid lightgray !important;
}

.fom-table td.shaded{
    background-color: #f9f9f9;
    border-top: 1px solid lightgray !important;
    border-bottom: 1px solid lightgray;
}

.fom-table td.left{
    border-left: 1px solid lightgray;
}

.fom-table td.right{
    border-right: 1px solid lightgray;
}

.fom-table td.fom-label{
    white-space:nowrap;
    width: 10%;
}

.fom-table.blanks,
.fom-table.summary{
    width: 400px;
}