
.tiledPlotPanel {
    min-height: 50px;
    min-width: 900px;
}

.countLimitedHeaderPanel {
    padding: 10px 0 0 0;
}

.annotation:hover, .guideset-svg-button:hover,
.guideset-svg-button rect:hover,
.guideset-svg-button text:hover
{
    cursor: pointer;
}

.guideset-toolbar-msg {
    padding: 0 10px 10px 10px;
    background-color: rgba(20, 204, 201, 0.4) !important;
}

.guideset-toolbar-msg .x4-box-item {
    padding-top: 7px;
    font-weight: normal;
    font-family: 'Roboto-Bold', 'Arial-Bold', 'Helvetica-Bold', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
}

.plot-export-btn {
    display:inline;
}

.levey-jennings-toolbar .x4-form-item-label,
.levey-jennings-toolbar .x4-form-cb-label {
    font-size: 12px;
}

.levey-jennings-toolbar .x4-form-cb-label {
    margin-top: 5px;
}

.qc-plot-type-checkbox {
    width: 110px;
}

.plot-size-radio-group .x4-field-label-cell {
    width: 60px !important;
}

.plot-type-checkbox-group .x4-field-label-cell{
    width: 80px !important;
}

.plot-type-checkbox-group .x4-field-label-cell .x4-form-item-label-left{
    width: 80px !important;
}

.plot-export-btn-group {
    display: inline;
    float: right;
}

.plot-small-layout {
    width: 50%;
    float: left;
}

.tree-node-noicon {
    display: none;
}

.qc-hover-field-label {
    width: 75px;
    font-weight: bold;
    vertical-align: top;
}

div.hopscotch-bubble .hopscotch-content td {
    word-break: break-all;
}
